.about-me-container {
  margin: 100px auto;
  max-width: 1200px;
}
.about-me-main {
  display: flex;
  justify-content: space-between;
}
.about-me-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-me-text h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #f15523;
  text-transform: uppercase;
  text-align: center;
}
.about-me-text h1:before {
  content: url("../img/decoration.png");
  margin-right: 10px;
}
.about-me-text h1:after {
  content: url("../img/decoration.png");
  margin-left: 10px;
}
.about-me-text p {
  font-size: 18px;
  color: #333;
  margin-bottom: 80px;
  text-align: center;
}
.about-me-text h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #f15523;
  text-transform: uppercase;
  text-align: center;
}
.about-me-text h2:before {
  content: url("../img/decoration.png");
  margin-right: 10px;
}
.about-me-text h2:after {
  content: url("../img/decoration.png");
  margin-left: 10px;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-media img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.2s;
}
.social-media img:hover {
  transform: scale(1.1);
}
.about-me-image {
  width: 40%;
}
.about-me-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.5s;
}
.about-me-image img:hover {
  transform: scale(1.05);
}
